.intro
{
    text-align: center;
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ), url("img.jpg");
    background-size: cover;

    width: 100%;
    height: 100%;
}



.introtext {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
  }

  .greyLine{
	border-top: 1px solid rgb(163, 162, 162);
    display: inline;
    width: 50px;
    height: 30px;
}

.blueLine{
	border-top: 3px solid rgb(42, 162, 241);
    display: inline;
    width: 50px;
    height: 30px;
}

.man-description
{
    display: inline;
}
.service-block
{
    background-color: white;
    padding: 30px;
    margin-top: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 5px #f1f1f1;
}
#Team a{
    text-decoration: none;
}